#IDE files
.vscode
.idea
*.iml
*.ipr


#Execution files
test-results
archive
output.json
local.json
test.json
pytest_html_report.html
allure-dir
allure-report
downloads/
Dataset_*
Business-rules-*.csv
Verify Branch Report*
Release Branch Report*
logs_folder/

#Pytest files
.env
.pytest_cache
**/__pycache__
